
<div class="menu">
  <%= @election.title %><br />
  <br />
  <span class="<%= 'now_page' if params[:action] == 'one_vote' %>"><% if @election.one_vote == "on" %><%= link_to t("election.one_vote"), { :action => "one_vote", :id => @election.id, :election_page => params[:election_page], :graph => params[:graph] } %><% end %></span>
  <span class="<%= 'now_page' if params[:action] == 'three_vote' %>"><% if @election.three_vote == "on" %><%= link_to t("election.three_vote"), { :action => "three_vote", :id => @election.id, :election_page => params[:election_page], :graph => params[:graph] } %><% end %></span>
  <span class="<%= 'now_page' if params[:action] == 'rank_vote' %>"><% if @election.rank_vote == "on" %><%= link_to t("election.rank_vote"), { :action => "rank_vote", :id => @election.id, :election_page => params[:election_page], :graph => params[:graph] } %><% end %></span>
  <span class="<%= 'now_page' if params[:action] == 'free_choice_vote' %>"><% if @election.free_choice_vote == "on" %><%= link_to t("election.free_choice_vote"), { :action => "free_choice_vote", :id => @election.id, :election_page => params[:election_page], :graph => params[:graph] } %><% end %></span>
  <span class="<%= 'now_page' if params[:action] == 'good_bad_vote' %>"><% if @election.good_bad_vote == "on" %><%= link_to t("election.good_bad_vote"), { :action => "good_bad_vote", :id => @election.id, :election_page => params[:election_page], :graph => params[:graph] } %><% end %></span>
  <br />
  <br />
  <span class="<%= 'now_page' if params[:graph] == 'total' or params[:graph].blank? %>"><%= link_to "集計", { :graph => "total", :election_page => params[:election_page] } %></span>
  <% unless params[:action] == "rank_vote" %>
  <span class="<%= 'now_page' if params[:graph] == 'pie_chart' %>"><%= link_to "円グラフ", { :graph => "pie_chart", :election_page => params[:election_page] } %></span>
  <% end %>
  <span class="<%= 'now_page' if params[:graph] == 'bar_chart' %>"><%= link_to "棒グラフ", { :graph => "bar_chart", :election_page => params[:election_page] } %></span>
</div>
